<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title class="detailstitle"></title>

    <link rel="stylesheet" type="text/css" href="/css/common/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/details.css" />
</head>
<body>
<div class="container">
    <!--logo-->
    <div class="logo">
        <!--<img src="img/logo-2018.gif" />-->
        一起疯舔
    </div>
    <!--logo结束-->

    <!--导航-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">专题 <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li>-->
                                <!--<a href="#">Action</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Another action</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Something else here</a>-->
                            <!--</li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li>-->
                                <!--<a href="#">Separated link</a>-->
                            <!--</li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li>-->
                                <!--<a href="#">One more separated link</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">问答</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">树洞</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">随手拍</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">动物园</a>-->
                    <!--</li>-->
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--导航结束-->

    <div id="details" class="WB_artical">
        <div class="main_toppic"></div>
        <div class="main_editor "></div>
    </div>


</div>
</body>
<script src="/js/common/jquery-1.11.2.min.js?v=1"></script>
<script src="/js/common/bootstrap.min.js"></script>
<script src="/js/details.js"></script>
</html>